<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRH Noticias</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header>
        <h1><a href="/">TRH Noticias</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>

    <main>
        <!-- CONTENT -->
    </main>

    <footer>
        <p>&copy; 2026 TRH Noticias - Santiago del Estero</p>
    </footer>
</body>
</html>